job_platform_fe/node_modules/
job_platform_fe/dist/
job_platform_fe/.env
job_platform/target/
job_platform/.idea/
.vscode/
**/.env
# Env files (API keys - DO NOT commit)
.env
*.env
job_platform_be/.env
