USE [master]
GO
/****** Object:  Database [job_platform]    Script Date: 6/17/2026 10:38:48 PM ******/
CREATE DATABASE [job_platform]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'job_platform', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\job_platform.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'job_platform_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\job_platform_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [job_platform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [job_platform]
GO
USE [job_platform]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[id] [int] NOT NULL,
	[admin_level] [int] NULL,
	[permissions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_conversations]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_conversations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[role] [varchar](50) NULL,
	[content] [nvarchar](max) NULL,
	[feature_context] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ai_cv_analyses]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_cv_analyses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NULL,
	[job_id] [int] NULL,
	[type] [varchar](50) NULL,
	[result_text] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[applications]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[candidate_id] [int] NULL,
	[job_id] [int] NULL,
	[cv_path] [nvarchar](255) NULL,
	[match_percentage] [int] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidates]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidates](
	[id] [int] NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[cv_path] [nvarchar](255) NULL,
	[skills] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[industries]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[industries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_categories]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[industry_id] [int] NULL,
	[name] [nvarchar](255) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_posts]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recruiter_id] [int] NULL,
	[category_id] [int] NULL,
	[title] [nvarchar](255) NULL,
	[salary] [nvarchar](100) NULL,
	[jd_text] [nvarchar](max) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recruiters]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recruiters](
	[id] [int] NOT NULL,
	[company_name] [nvarchar](255) NULL,
	[tax_code] [varchar](50) NULL,
	[company_email] [varchar](255) NULL,
	[website_url] [varchar](255) NULL,
	[logo] [nvarchar](255) NULL,
	[point] [int] NULL,
	[status_trust] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](500) NOT NULL,
	[user_id] [int] NOT NULL,
	[expiry_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/17/2026 10:38:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[role] [varchar](50) NOT NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[candidates] ([id], [phone], [address], [cv_path], [skills]) VALUES (8, NULL, NULL, NULL, NULL)
INSERT [dbo].[candidates] ([id], [phone], [address], [cv_path], [skills]) VALUES (1003, N'1111', N'11111', NULL, NULL)
GO
INSERT [dbo].[recruiters] ([id], [company_name], [tax_code], [company_email], [website_url], [logo], [point], [status_trust]) VALUES (1002, N'111', N'111', N'1111@gmail.com', N'', NULL, 0, N'pending')
GO
SET IDENTITY_INSERT [dbo].[refresh_tokens] ON 

INSERT [dbo].[refresh_tokens] ([id], [token], [user_id], [expiry_date]) VALUES (1, N'1332ea43-781f-4290-b8d3-57e38f7c3d7d', 1003, CAST(N'2026-06-22T14:31:02.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[refresh_tokens] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [password], [role], [status]) VALUES (1, N'Nguyên Chương', N'chuongvl2k4@gmail.com', N'11111111', N'candidate', 1)
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [status]) VALUES (8, N'hahah', N'chuong2004vinhlong@gmail.com', N'11111111', N'candidate', 1)
INSERT [dbo].[users] ([id], [name], [email], [password], [role], [status]) VALUES (1002, N'111', N'1111@gmail.com', N'1234567', N'recruiter', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__industri__72E12F1B41EA6D49]    Script Date: 6/17/2026 10:38:48 PM ******/
ALTER TABLE [dbo].[industries] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__recruite__13E39CF688FEEED4]    Script Date: 6/17/2026 10:38:48 PM ******/
ALTER TABLE [dbo].[recruiters] ADD UNIQUE NONCLUSTERED 
(
	[tax_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__recruite__7C4661D18C1B4616]    Script Date: 6/17/2026 10:38:48 PM ******/
ALTER TABLE [dbo].[recruiters] ADD UNIQUE NONCLUSTERED 
(
	[company_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__refresh___CA90DA7A22EE9BBD]    Script Date: 6/17/2026 10:38:48 PM ******/
ALTER TABLE [dbo].[refresh_tokens] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61640F5134A1]    Script Date: 6/17/2026 10:38:48 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ai_conversations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ai_cv_analyses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[industries] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[job_categories] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[job_posts] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[recruiters] ADD  DEFAULT ((0)) FOR [point]
GO
ALTER TABLE [dbo].[recruiters] ADD  DEFAULT ('pending') FOR [status_trust]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[admins]  WITH CHECK ADD  CONSTRAINT [fk_admins_users] FOREIGN KEY([id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[admins] CHECK CONSTRAINT [fk_admins_users]
GO
ALTER TABLE [dbo].[ai_conversations]  WITH CHECK ADD  CONSTRAINT [fk_ai_conv_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ai_conversations] CHECK CONSTRAINT [fk_ai_conv_users]
GO
ALTER TABLE [dbo].[ai_cv_analyses]  WITH CHECK ADD  CONSTRAINT [fk_ai_cv_candidates] FOREIGN KEY([candidate_id])
REFERENCES [dbo].[candidates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ai_cv_analyses] CHECK CONSTRAINT [fk_ai_cv_candidates]
GO
ALTER TABLE [dbo].[ai_cv_analyses]  WITH CHECK ADD  CONSTRAINT [fk_ai_cv_jobs] FOREIGN KEY([job_id])
REFERENCES [dbo].[job_posts] ([id])
GO
ALTER TABLE [dbo].[ai_cv_analyses] CHECK CONSTRAINT [fk_ai_cv_jobs]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [fk_app_candidates] FOREIGN KEY([candidate_id])
REFERENCES [dbo].[candidates] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [fk_app_candidates]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [fk_app_jobs] FOREIGN KEY([job_id])
REFERENCES [dbo].[job_posts] ([id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [fk_app_jobs]
GO
ALTER TABLE [dbo].[candidates]  WITH CHECK ADD  CONSTRAINT [fk_candidates_users] FOREIGN KEY([id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[candidates] CHECK CONSTRAINT [fk_candidates_users]
GO
ALTER TABLE [dbo].[job_categories]  WITH CHECK ADD  CONSTRAINT [fk_job_categories_industries] FOREIGN KEY([industry_id])
REFERENCES [dbo].[industries] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job_categories] CHECK CONSTRAINT [fk_job_categories_industries]
GO
ALTER TABLE [dbo].[job_posts]  WITH CHECK ADD  CONSTRAINT [fk_job_posts_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[job_categories] ([id])
GO
ALTER TABLE [dbo].[job_posts] CHECK CONSTRAINT [fk_job_posts_categories]
GO
ALTER TABLE [dbo].[job_posts]  WITH CHECK ADD  CONSTRAINT [fk_job_posts_recruiters] FOREIGN KEY([recruiter_id])
REFERENCES [dbo].[recruiters] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job_posts] CHECK CONSTRAINT [fk_job_posts_recruiters]
GO
ALTER TABLE [dbo].[recruiters]  WITH CHECK ADD  CONSTRAINT [fk_recruiters_users] FOREIGN KEY([id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recruiters] CHECK CONSTRAINT [fk_recruiters_users]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ai_conversations]  WITH CHECK ADD  CONSTRAINT [chk_ai_context] CHECK  (([feature_context]='mock_interview' OR [feature_context]='find_job'))
GO
ALTER TABLE [dbo].[ai_conversations] CHECK CONSTRAINT [chk_ai_context]
GO
ALTER TABLE [dbo].[ai_conversations]  WITH CHECK ADD  CONSTRAINT [chk_ai_role] CHECK  (([role]='assistant' OR [role]='user'))
GO
ALTER TABLE [dbo].[ai_conversations] CHECK CONSTRAINT [chk_ai_role]
GO
ALTER TABLE [dbo].[ai_cv_analyses]  WITH CHECK ADD  CONSTRAINT [chk_analysis_type] CHECK  (([type]='cv_writing' OR [type]='jd_optimization' OR [type]='cv_matching'))
GO
ALTER TABLE [dbo].[ai_cv_analyses] CHECK CONSTRAINT [chk_analysis_type]
GO
ALTER TABLE [dbo].[recruiters]  WITH CHECK ADD  CONSTRAINT [chk_status_trust] CHECK  (([status_trust]='banned' OR [status_trust]='verified' OR [status_trust]='pending'))
GO
ALTER TABLE [dbo].[recruiters] CHECK CONSTRAINT [chk_status_trust]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [chk_user_role] CHECK  (([role]='admin' OR [role]='recruiter' OR [role]='candidate'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [chk_user_role]
GO
USE [master]
GO
